include trend_samples.pug

mixin page_title(title)
  div(data-title= title)

mixin helloworld
  p helloworld


mixin dailyTrendResult(params)
  p !{JSON.stringify(apple)}

mixin dailyTrend(apple, geo_in)
  - var search_id = 'search_'+Math.round(Math.random()*99999)
  .cards.related_topics#related_queries_php(data-card-category="#programming")
    //- .card_content
    .card_topic
    .card_body
      a.button.is-light(href="https://trends.google.com/trends/trendingsearches/daily?geo="+geo_in target="_blank").
        Daily trend of #{geo_in} <i class="fas fa-external-link-alt"></i>
      div(id=search_id)
      script.
        daily_trends( '#'+ '!{search_id}' ,!{JSON.stringify(apple)});

mixin dailyTrendOfLoc(geo_in)
  +dailyTrend({
      trendDate: new Date(),
      geo: geo_in,
    }, geo_in)

mixin dailyTrendOfUS
  +dailyTrendOfLoc('US')

mixin dailyTrendOfHK
  +dailyTrendOfLoc('HK')

mixin dailyTrendOfTW
  +dailyTrendOfLoc('TW')

mixin trending_search(topic, params)
  - var search_id = 'search_'+Math.round(Math.random()*99999)
  h2.card_topic= topic
  div.card_body(id=search_id)
  script.
    document.addEventListener( "DOMContentLoaded", function () {
      daily_trends( '#'+ '!{search_id}' ,!{JSON.stringify(params)});
    } );

mixin chart_interest_over_time(topic, params)
  - var _id = 'search_'+Math.round(Math.random()*99999)
  .cards
    .card_body
      .chart_container
        canvas(id=_id)
      h3 #{topic}
      .content
        +sample_table([1,2,3])

    script.
      //- keywords_to_search = [ 'Valentines Day' ];
      fetch_post_request( {
          q: Q_INTEREST_OVER_TIME,
          param: !{JSON.stringify(params)}
        } )
        .then( res => res.json() )
        .then( ( json ) => {
          create_chart( "#"+"!{_id}", !{JSON.stringify(params.keyword)} , json );
        } );


mixin chart_vector_map(topic, params)
  - var _id = 'search_'+Math.round(Math.random()*99999)
  - var _table_id = 'table_'+Math.round(Math.random()*99999)
  .cards
    h2.card_topic #{topic}
    .map_container
      div(id=_id style="height:100%; width:100%;")
      script.

        fetch_post_request( {
          q: Q_INTEREST_BY_REGION,
          param: !{JSON.stringify( params )}
        } )
        .then( res => res.json())
        .then( json => {
          var obj = {};
          json.default.geoMapData.forEach( x => {
            obj[ x.geoCode ] = x.value[ 0 ];
          } )
          return obj;
        })
        .then( result => {
          get_ele( "#" + "#{_table_id}" ).innerHTML = gen_top_x_table(
            result,
            3);

          var tooltips_template = '<div class="map-tooltip"><h1 class="header">$country_name$</h1><p class="description">value: $value$</p></div>';

          var jqvmap_config = {
            map: 'world_en',
            backgroundColor: 'rgba(189, 195, 199,0.1)',
            hoverColor: 'rgba(211, 84, 0,1.0)',
            enableZoom: false,
            onLabelShow: function ( event, label, code ) {

              label.html(
                tooltips_template
                  .replace('$country_name$', cc_conv[code])
                  .replace('$value$', result[code.toUpperCase()])
              );
            }
          }

          jqvmap_config['colors']= calc_colors_for_jqvmap(
            result, 'rgba(61, 61, 61,0.1)', 'rgba(61, 61, 61,1.0)' );

          var map_!{_id} = jQuery( '#' + '!{_id}' );
          map_!{_id}.vectorMap(jqvmap_config );
        } )

    .table_container
      h6.title.is-6 top 3 country listing
      +table_top_3_country(_table_id)




mixin related_queries(queries, params, max_row)
  - var _id = 'search_'+Math.round(Math.random()*99999)
  .cards
    h2.card_topic #{queries}
    .card_body
      div(id=_id)
      script.
        related_queries( '#'+'!{_id}', !{JSON.stringify(params)}, '!{max_row}' );

mixin related_topics(topic, params, max_row)
  - var _id = 'search_'+Math.round(Math.random()*99999)
  .cards
    h2.card_topic= topic
    .card_body
      div(id=_id)
      script.
        related_topics( '#'+'!{_id}', !{JSON.stringify(params)}, '!{max_row}' );

mixin table_placeholder(table_id)
  table.table(id=table_id)

mixin table_top_3_country(table_id)
  table.table.top_3_country(id=table_id style='text-align: center;')
