
mixin helloworld
  p helloworld


mixin dailyTrendResult(params)
  p !{JSON.stringify(apple)}

mixin dailyTrend(apple, card_topic)
  - var search_id = 'search_'+Math.round(Math.random()*99999)
  .cards.related_topics#related_queries_php(data-card-category="#programming")
    .card_content
      .card_topic #{card_topic}
        div(id=search_id)
        script.
          daily_trends( '#'+ '!{search_id}' ,!{JSON.stringify(apple)});

mixin dailyTrendOfLoc(geo_in)
  +dailyTrend({
      trendDate: new Date(),
      geo: geo_in,
    }, 'daily trend of '+ geo_in)

mixin dailyTrendOfUS
  +dailyTrendOfLoc('US')

mixin dailyTrendOfHK
  +dailyTrendOfLoc('HK')

mixin dailyTrendOfTW
  +dailyTrendOfLoc('TW')
